<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beiyun.workers">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".base.WorkersApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.beiyun.workers.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.RegisterActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.UpdatePasswordStep1Activity" />
        <activity android:name=".ui.UpdatePasswordStep2Activity" />
        <activity
            android:name=".ui.MainListDetailActivity"
            android:label="@string/title_activity_main_list_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.MessageDetailActivity"
            android:label="@string/title_activity_message_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".fragment.searchfragment.PersonInfoFragment" />
        <activity android:name=".fragment.searchfragment.ApplyPlantInfoFragment" />
        <activity android:name=".fragment.searchfragment.PlantQualificationInfoFragment" />
        <activity
            android:name=".ui.SearchDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".fragment.searchfragment.PreContractInfoFragment" />
        <activity android:name=".fragment.searchfragment.PlantCountInfoFragment" />
        <activity android:name=".fragment.searchfragment.PlantContractInfoFragment" />
        <activity android:name=".ui.BannerDetailActivity"></activity>
    </application>

</manifest>